[b2c]
TENANT_NAME = 
CLIENT_ID = 
CLIENT_SECRET = 
ENDPOINT = 
SIGNUPSIGNIN_USER_FLOW = 
EDITPROFILE_USER_FLOW = 
RESETPASSWORD_USER_FLOW = 

[dh_services]
client_name = dev-admin-portal
client_secret = ikactyRLicKoI8VHiD9KZEwTrOIhtYjfzm1h6YUjj7M
api_base_url = http://localhost/dh/service
