[Database]
name=deepharbor
user=dh_app
password=changeme_in_env
host=db
port=5432
schema=public

[oauth2]
secret_key=10d5d6b25c5995ee18805fdc4b1ed34ab4fa03a3973ed05d677ed460a12c9b81
algorithm=HS256
access_token_expire_minutes=30
client_name=dev-equipment-portal
client_secret=secret

[storage]
; S3-compatible storage (RustFS)
endpoint_url=http://rustfs:9000
access_key=deepharbor
secret_key=changeme
bucket=deepharbor-equipment
public_url=
