# Use "localhost" as the host when running outside of Docker.
# Use "db" as the host when running inside Docker.
[Database]
name=deepharbor
user=dh
password=dh
host=db
port=5432
schema=public

[DH2RFID]
# Our endpoint to send authorization changes to
base_endpoint_url=http://dh2rfid:8000/
# For adding tags
add_tags_endpoint=add_entry
# For removing tags
remove_tags_endpoint=remove_entry
