[b2c]
TENANT_NAME = 
CLIENT_ID = 
CLIENT_SECRET = 
ENDPOINT =
SIGNUPSIGNIN_USER_FLOW = 
EDITPROFILE_USER_FLOW = 
RESETPASSWORD_USER_FLOW = 

[dh_services]
client_name = dev-member-portal
client_secret = hQgPvJW9RU48tRSQKS8SladAZsKHS34fKetbNr_443E
api_base_url = http://localhost/dh/service
